@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 98%; /* #f9fafb - very light gray */
    --foreground: 224 71% 4%; /* #08090a - almost black */
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 210 27% 87%; /* #dce8f3 */
    --primary-foreground: 224 71% 4%;
    --secondary: 214 17% 91%; /* #e8eaec */
    --secondary-foreground: 224 71% 4%;
    --muted: 220 9% 46%; /* #6a7681 */
    --muted-foreground: 220 9% 46%;
    --accent: 214 17% 91%; /* #e8eaec */
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 9% 87%; /* #dde1e3 */
    --input: 220 9% 87%; /* #dde1e3 */
    --ring: 224 71% 4%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 210 27% 87%; /* #dce8f3 */
    --primary-foreground: 224 71% 4%;
    --secondary: 214 17% 21%; /* a bit lighter */
    --secondary-foreground: 0 0% 98%;
    --muted: 215 20.2% 65.1%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 17% 21%;
    --input: 214 17% 21%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
